body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323';
}

#game {
    box-shadow: black 20px 20px 50px;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#up {
    margin: 60px 40% 5px 40%
}

button {
    font-size: 50px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: black solid;
    border-radius: 10px;
    box-shadow: black 5px 5px 10px;
    margin: 5px;
    cursor: pointer;
}

#esc {
    width: 200px;
    margin: 5px 30% 0 30%;
    transform: translate(-160px, -220px)
}

h1 {
    font-size: 60px;
    color: darkgreen;
}

#shadow {
    color: black;
    transform: translate(-2px, -930px);
    z-index: -1;
}